<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aventuras</title>
    <link rel="icon" type="image/png" href="./assets/image-removebg-preview (3).png" />
    <link rel="stylesheet" href="./style.css" />
    <link rel="stylesheet" href="../styles/aventuras.css" />

</head>

<body class="scroll loading">
  

  <main>
    <section class="hero-video">
      <div class="hero-video__background">
        <video autoplay muted loop playsinline poster="../assets/images/poster-fallback.jpg">
          <source src="../assets/videos/gallery/aventuras/totoro-in-the-rain-moewalls-com.mp4" type="video/mp4">
        </video>
        <div class="hero-video__overlay"></div>
      </div>

      <div class="hero-video__content">
        <h1 class="hero-video__title">Nuestras aventuras juntos</h1>
        <p class="hero-video__subtitle">Un recorrido por cada momento que hemos vivido</p>
      </div>
    </section>
  </main>

  <button class="scrollToTopBtn">
    
  </button>
<script src="../js/aventuras.js"></script>
</body>